dding: 0px;
    margin: 0px;
}
.wyltkm a {
    color: blue;
    text-decoration: none;
}
.wyltkm canvas {
    width: 480px;
    height: 240px;
}
.wyltkm .arrow {
    width: 0px;
    height: 0px;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 48px solid #fff;
    position: absolute;
    left: 224px;
    top: 94px;
}
.wyltkm .circle {
    border: 3px solid #fff;
    width: 80px;
    height: 80px;
    margin-left: 200px;
    margin-top: 80px;
    border-radius: 48px;
    cursor: pointer;
}
.wyltkm .footer {
    width: 100%;
    text-align: center;
    font-size: small;
    visibility: hidden;
    margin-top: 10px;
}
.wyltkm .preload {
    display: none;
}
.wyltkm .start {
    background-color: rgba(200,200,200,0.6);
    width: 480px;
    height: 240px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.wyltkm .wrapper {
    position: relative;
    border: 10px solid #ccc;
    width: 480px;
    height: 240px;
}
